@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Web Push Notification</h1>
    <button id="subscribeButton" onclick="inscricaoPush()">Subscribe to Push Notifications</button>
    <button id="unsubscribeButton" onclick="deletaInscricaoPush()" disabled>Unsubscribe from Push Notifications</button>
    <button id="notifyMeButton" onclick="noticaPosicaoDoSw()">Notify Me</button>
</div>
